/* Header */

.ts{

    font-family: 'Russo One', sans-serif;

}

.divloga{

min-height: 2.5rem;
max-height: 2.5rem;

}

.sb{

    background: none;
    border: none;

}

.fws{

    max-width: 10.5rem; 
    min-width: 10.5rem; 

}