/* Header */

.hbg{

    background: rgb(255, 255, 255);

}

.divloga{

min-height: 2.5rem;
max-height: 2.5rem;

}

.sb{

    background: none;
    border: none;
    margin-left: 3rem !important;

}

.fws{

    max-width: 15.7rem; 
    min-width: 15.7rem;
    margin-left: 3rem !important; 

}

.np{

    padding: 0 0 0 0.7rem !important;

}
.cs{

    min-width: 17% !important;

}

.dfh{

    display: flex !important;
    justify-content: center !important;

}

@media screen and (max-width:800px) {
    .dfh{

        display: block !important;
    
    }
    .sb {
        margin-left: 0rem !important;
    }
    .cst{
        
        display: flex !important;
        flex-direction: column !important;
        

    }
    .ht{

        padding: 0 !important;

    }
    .tf{

        display: flex !important;
        flex-direction: column !important;
        align-items: start !important;

    }
    .fws{

        max-width: 11.3rem; 
        min-width: 11.3rem;
        margin-left: 0 !important; 
    
    }
    .gt{

        padding: 0 0 1rem 0 !important;

    }
    .nt{

        padding: 0 0 1rem 0 !important;

    }
    .ip{

        padding: 1rem 0 2rem 0 !important

    }
    .ddm{

        padding-left: 1.5rem !important;

    }
    .dm{

        padding-right: 1.5rem !important;

    }
}

/* Footer */

.fs{

    font-size: small !important;

}
.line-t{

    background-color: #6c757d  !important;
    padding: 7rem 0.2rem 7rem 0.2rem;

}
.ttss{

    color: #6c757d !important;

}

/* Text font */

.ts{

    font-family: 'Russo One', sans-serif;

}