/* Header */


.hbg {

    background: rgb(255, 255, 255);

}

.hbg-js {

    background: rgb(0, 255, 98);

}

.hbg-d {

    background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;

}

.divloga {

    min-height: 2.5rem;
    max-height: 2.5rem;

}

.sb {

    background: none;
    border: none;
    margin-left: 1rem !important;

}

.dropdown-item{
    outline: none;
    border-radius: 7px;
    background: rgb(54, 57, 59);
    border: 3px solid rgb(54, 57, 59);

}

.form-b{

    outline: none;
    border-radius: 7px;
    background: rgb(54, 57, 59);
    border: 0;

}

.inp-bg{

    background:rgb(54, 57, 59);

}

.form-b:hover,.form-b:active,.form-b:focus{

    border-radius: 7px;
    border: 0;
    background:rgb(54, 57, 59);
}

.dropdown-item:hover,.dropdown-item:active,.dropdown-item:focus{
    background:rgb(54, 57, 59);
    border-radius: 7px;
    border: 3px solid rgb(109, 109, 109);

}

.fws {

    max-width: 13.5rem!important;
    min-width: 13.5rem!important;
    margin-left: 1rem !important;

}

.np {

    padding: 0 0 0 0.7rem !important;

}

.cs {

    min-width: 17% !important;

}

.dfh {

    display: flex !important;
    justify-content: center !important;

}

@media screen and (max-width:800px) {

    .mdel-g{

        margin-left: 0 !important;
        margin-bottom: 1rem !important;

    }

    .mdel-n{

        margin-right: 0!important;
        margin-left: 0!important;
        margin-bottom: 1rem !important;
    
    }

    .mdel-p{

        margin-right: 0!important;
        margin-left: 0!important;
        margin-top: 1rem !important;
    
    }

    .cs {

        min-width: 17% !important;

        padding-top: 1.5rem !important;

    }

    .dfh {

        display: block !important;

    }

    .sb {
        margin-left: 0rem !important;
    }

    .cst {

        display: flex !important;
        flex-direction: column !important;


    }

    .ht {

        padding: 0 !important;

    }

    .tf {

        display: flex !important;
        flex-direction: column !important;
        align-items: start !important;

    }

    .fws {

        max-width: 11.3rem;
        min-width: 11.3rem;
        margin-left: 0 !important;

    }

    .ip {

        padding: 1rem 0 2rem 0 !important
    }

    .ddm {

        padding-left: 1.5rem !important;

    }

    .dm {

        padding-right: 1.5rem !important;

    }

    .fws-f {

        max-width: 12rem !important;
        min-width: 12rem !important;


    }
}

/* Button Animation Custom */

.ui-box{

    padding: 0 !important;

}

.top-stay{

    padding: 0.5rem 0.8rem 0.5rem 0.8rem !important;
    
    }

.top-stay:hover,.top-stay:focus,.top-stay:active{

padding: 0.5rem 0.8rem 0.5rem 0.8rem !important;

}

.top-stay::after {

    transition-duration: 300ms !important;
}

.top-stay::before {

    transition-duration: 300ms !important;
}

.top-stay .ui-border-element::after {

    transition-duration: 300ms !important;
}

.top-stay .ui-border-element::before {

    transition-duration: 300ms !important;
}

/* ↓ Темная тема бордеров кнопок ↓ */

.top-stay::after {
    border-bottom: 2px solid rgb(255, 255, 255) !important;
    transition-duration: 300ms !important;
}

.top-stay::before {
    border-top: 2px solid rgb(255, 255, 255) !important;
    transition-duration: 300ms !important;
}

.top-stay .ui-border-element::after {
    border-right: 2px solid rgb(255, 255, 255) !important;
    transition-duration: 300ms !important;
}

.top-stay .ui-border-element::before {
    border-left: 2px solid rgb(255, 255, 255) !important;
    transition-duration: 300ms !important;
}

/* ↑ Темная тема бордеров кнопок ↑ */

.mdel-g{

    margin-left: 1.5rem;

}

.mdel-n{

    margin-right: 1.5rem;
    margin-left: 1.5rem;

}

.mdel-p{

    margin-right: 1.5rem;
    margin-left: 1.5rem;

}

/* Footer */

.ip-f {

    padding: 1rem 0 2rem 0 !important
}

.fws-f {

    max-width: 8rem !important;
    min-width: 8rem !important;


}

.fs {

    font-size: 1.5vh !important;

}

.cop {

    font-size: 3vh !important;


}

.bloc-m {

    padding-left: 1.5rem !important;

}

.allt{

    margin-top: 3rem !important;

}

.mb-f{

    font-size: 1.25rem !important;

}

.nm-f{

    margin-left: 1rem !important;
    margin-right: 1rem !important;

}

.jcb{

    display: flex;
    flex-direction: row !important;

}
.ts-f{

    font-size: 3rem !important;

}

@media screen and (max-width:800px) {

    .nm-f{

        margin-left: 0 !important;
        margin-right: 0 !important;
    
    }
    
    .mb-f{

        font-size: 0.7rem !important;
        padding-right: 1rem !important;

    }

    .fs {

        font-size: 0.7vh !important;

    }

    .ts-f {

        font-size: 2vh !important;

    }

    .tf-f {

        display: flex !important;
        flex-direction: row !important;
        align-items: start !important;

    }

    .ft-f {

        display: flex;
        flex-direction: column !important;
        margin: auto !important;

    }

    .bloc-m {

        padding-left: 0 !important;

    }

    .colset {

        flex: 0 0 auto;
        width: 30% !important;

    }

    .ip-f {

        padding: 0 !important
    }

    .allt{

        margin-top: 0 !important;

    }

}

.ttss {

    color: #6c757d !important;

}

.tcf {

    font-size: 1.5vh !important;

}

/* Text font */

.ts {

    font-family: 'Russo One', sans-serif;

}


/* Main */


.img-bg {

    /* Black theme */
    /* background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(/GameShop/GameShop/resources/material/img/dark-sont-site.jpg);

    background-size: cover;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top; */

    /* White theme */

    background: linear-gradient(rgba(255, 255, 255, 0.952), rgb(233, 233, 233)), url(/GameShop/GameShop/resources/material/img/fon-site.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
